* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 90%;
  margin: 20px auto;
}

.box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px  #6b6b6b;
}

.auther-container {
  display: flex;
  align-items: center;
  gap: 10px;
}


.auther-container img {
  border: 3px solid #cfcfcf;
  width: 40px;
  border-radius: 50%;
}

.para-container {
  padding-top: 20px;
  display: grid;
  gap: 20px;
}

.auther-info h3 {
  color: #ecf2f8;
  padding-bottom: 5px;
}

.auther-info p {
  color: #cfcfcf;
  font-size: 13px;
  font-weight: 300;
}

.para-bold {
  color: #ecf2f8;
  font-size: 19px;
  font-weight: 600;
}

.para-light {
  color: #cfcfcf;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
}


.box-1 {
  background-color: #7541c8;
  grid-column: 1 /3;
  grid-row: 1/2;
  background-image: url(pic/bg-pattern-quotation.svg);
  background-position:top right 20%;
  background-repeat: no-repeat;
  background-size: 110px;

}

.box-2 {
  background-color: #48556a;
  grid-column: 3 /4;
  grid-row: 1/2;
}

.box-3 {
  background-color: #ffffff;
  grid-column: 1 /2;
  grid-row: 2/3;
}

.box-4 {
  background-color: #19212e;
  grid-column: 2 /4;
  grid-row: 2 /3;
}

.box-5 {
  background-color: #ffffff;
  grid-column: 4 /5;
  grid-row: 1/3;
}

.auther-info .head-color{
  color: #19212e;
}

.auther-info .para-color{
  color: #48556a;
}

.head-color {
  color: #19212e;
}

.para-color {
  color: #48556a;
}


@media (max-width: 650px) {

  .container {
    display: flex;
    flex-direction: column;
  }

}